.bg-box{
    width: 90%;
    height: 900px;
    background-color: green;
    background-image: url(../image/dom.webp),url(../image/trava.png),url(../image/lampa.png),url(../image/ejik.webp),url(../image/ponchik.png);
    background-repeat: no-repeat, repeat-x, repeat-x,repeat-y,repeat-y;
    background-position: center, bottom, top, left,right;
    background-size: auto, 500px,50px,45px,45px;
    
    

}